/* General CSS*/

$maincolor = #ffffdd;


}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 25px;
}

body {
    columns: 300px 2;
    color: $maincolor;
    font-family: 'Cormorant', serif;
    background: linear-gradient(to right, rgb(178, 69, 146), rgb(241, 95, 121));

}
