/* General CSS*/

html,
body {
    height: 100%;

}

h1 {
    /*text-transform: uppercase; */
    text-align: center;
    margin: 40px;
}

body {
    color: white;
    font-family: 'Cormorant', serif;
    background: linear-gradient(to right, rgb(178, 69, 146), rgb(241, 95, 121));

}
