.large-hero {
  border-bottom: 10px solid $mainBlue;
  position: relative;
  color: white;
  &__image {
    display: block;
  }
  /* BEM technique */
  &__text-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }
  &__title {
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    @mixin atSmall {
      font-size: 3.8rem;
    }
  }
  &__subtitle {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
    @mixin atSmall {
      font-size: 2.5rem;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    @mixin atSmall {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
