.large-hero {
    position: relative;


   /* BEM technique */
    &__text-content {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	}

	&__title {
	font-weight: 300;
	font-size: 4.8rem;

	}

	&__subtitle {
		font-weight: 300;
		font-size: 2.9rem;
	}
}




