.large-hero {
    position: relative;


   /* BEM technique */
    &__text-content {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	}

	&__title {
	font-weight: 300;
	font-size: 1.1rem;
	margin: 0;
    
   	@mixin atSmall{
        font-size: 2rem;
    }
        
    @mixin atMedium{
        font-size: 3rem;
    }
        
    @mixin atLarge{
        font-size: 3.8rem;
    }
        
    }

	&__subtitle {
		font-weight: 200;
		font-size: 1.1rem;
		margin: 0;
        
         @mixin atSmall{
            font-size: 2.5rem;
        }
	}

	&__description {

		font-weight: 100;
		font-size: 1.5rem;
		margin-left: auto;
		margin-right: auto;
		max-width: 20rem;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);


	}


}




