.modal {
	position: fixed;
	z-index: 5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255, 0.93);
	opacity: 0;
	visibility: hidden;

	&__inner {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);

	}

	&__description{
		color: $mainOrange;
		text-align: center;
		font-size: 1.5rem;
		line-height: 2.5rem;
		font-weight: 300;
		margin-bottom: 10px;

	}

	&__close{
		position: absolute;
		font-size: 2rem;
		top: 15px;
		right: 15px;
		transform: scaleX(1.2);
		transform-origin: 100% 0;
		color: $mainBlue;
		cursor: pointer;

		&:hover{
			color: $mainOrange;

		}
	}
}