.site-footer {
  color: white;
  padding: .3rem 0; 
  text-align: center;

  &__text {
    display: block;
    margin-bottom: .5rem;
    font-weight: 200;

    @mixin atMedium {
      display: inline;
      margin-bottom: 0;
      margin-right: 0;   
    }
  }
}